<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Employee File</title>
    <link rel="stylesheet" th:href="@{/profileCss.css}" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin=""/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
</head>
<body style="font-family: 'Poppins', sans-serif">
<div class="content" style="
        display: flex;
        margin-top: 30px;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;">
    <div class="title" style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
        flex-basis: 20%;
        margin-right: 22px;
        align-items: center;">
        <h1 th:text="${employee.firstName}"></h1>
        <img class="employee_image" style="
        border: 1px transparent;
        width: 200px;
        height: 200px;
        border-radius: 100%;" th:src="'data:image/jpeg;base64,' + ${employee.photo}" alt="Aucune image" />
    </div>
    <div class="first-container" style="
        display: flex;
        flex-direction: column;
        align-items: baseline;
        text-align: center;
        flex-basis: 40%;
        gap: 12px;
        margin-right:12px ;">
        <p><span class="attribute" style=" color: black;
        font-size: large;
        font-family: bold, sans-serif;">Prénom : </span><span th:text="${employee.firstName}"></span></p>
        <p><span class="attribute" style=" color: black;
        font-size: large;
        font-family: bold, sans-serif;">Nom : </span><span th:text="${employee.lastName}"></span></p>
        <p><span class="attribute" style=" color: black;
        font-size: large;
        font-family: bold, sans-serif;">Date de naissance : </span><span th:text="${employee.dateOfBirth}"></span></p>
        <p><span class="attribute" style=" color: black;
        font-size: large;
        font-family: bold, sans-serif;">Sexe  : </span><span th:text="${employee.sex}"></span></p>
        <p><span class="attribute" style=" color: black;
        font-size: large;
        font-family: bold, sans-serif;">Registration Number : </span><span th:text="${employee.registrationNbr}"></span></p>
        <p><span class="attribute" style=" color: black;
        font-size: large;
        font-family: bold, sans-serif;">Numéro de Tel: </span></p>
        <ul>
            <li th:each="phone: ${employee.phoneNbr}">
                <span th:text="|${phone}|"></span>
            </li>
        </ul>
        <p><span class="attribute" style="
        color: black;
        font-size: large;
        font-family: bold, sans-serif;">Enfants  : </span><span th:text="${employee.nbrChildren}"></span></p>
    </div>
    <div class="second-container" style="display: flex;
        flex-direction: column;
        flex-basis: 40%;
        align-items: baseline;
        text-align: center;
        gap: 12px;">
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">Poste  : </span>
            <span th:text="${employee.post}"></span>
        </p>
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">Email professionnel  : </span>
            <span th:text="${employee.emailPro}"></span>
        </p>
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">Email personnel  : </span>
            <span th:text="${employee.emailPerso}"></span>
        </p>
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">Date d'arrivée : </span>
            <span th:text="${employee.beggingDate}"></span>
        </p>
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">Date de sortie : </span>
            <span th:text="${employee.outDate}"></span>
        </p>
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">Catégorie socio-Pro : </span>
            <span th:text="${employee.socioProCat}"></span>
        </p>
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">N° CIN: </span>
            <span th:text="${employee.cinNumber}"></span>
        </p>
        <p><span class="attribute" style="  color: black;
        font-size: large;
        font-family: bold, sans-serif;">N° CNaps : </span>
            <span th:text="${employee.nbrCnaps}"></span>
        </p>
    </div>
</div>
</body>
</html>